@model IEnumerable<Movies.Models.Movie>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Comments here*@



<h2 class="popular">Movies  </h2>


    <ul>
                    
            @foreach (var movie in Model)
            {
                <li>
                    <a href="#">movie</a>
                </li>
            }

        

    </ul>

