@*@model Movies.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Coments here

@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">Customers   </h2>
@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie yet</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>
                <a href="customer/@customer.Id">@customer.Name</a>
            </li>
        }

    </ul>
}



*@
